[submodule "dotfiles/vimperator/.vimperator/_plugin/vimpr"]
	path = dotfiles/vimperator/.vimperator/_plugin/vimpr
	url = git@github.com:vimpr/vimperator-plugins.git
[submodule "dotfiles/emacs/.emacs.d/elisp/geben"]
	path = dotfiles/emacs/.emacs.d/elisp/geben
	url = git@github.com:blipvert/geben-svn.git
[submodule "dotfiles/zsh/.zsh/function/zaw"]
	path = dotfiles/zsh/.zsh/function/zaw
	url = git@github.com:zsh-users/zaw.git
[submodule "dotfiles/zsh/.zsh/function/cdd"]
	path = dotfiles/zsh/.zsh/function/cdd
	url = git@github.com:m4i/cdd.git
[submodule "dotfiles/zsh/.zsh/function/zsh-completions"]
	path = dotfiles/zsh/.zsh/function/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "dotfiles/tmux/.tmux.d/tmux-powerline"]
	path = dotfiles/tmux/.tmux.d/tmux-powerline
	url = git@github.com:erikw/tmux-powerline.git
[submodule "dotfiles/alfred/alfred-workflows"]
	path = dotfiles/alfred/alfred-workflows
	url = git@github.com:peteokma/alfred-workflows.git
	ignore = dirty
[submodule "shellscripts/_git/git-prune-remote-branch"]
	path = shellscripts/_git/git-prune-remote-branch
	url = git://github.com/kyanny/git-prune-remote-branch.git
[submodule "dotfiles/zsh/.oh-my-zsh"]
	path = dotfiles/zsh/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "etc/iterm/theme/iTerm-2-Color-Themes"]
	path = etc/iterm/theme/iTerm-2-Color-Themes
	url = git@github.com:baskerville/iTerm-2-Color-Themes.git
[submodule "etc/iterm/iTerm2-Color-Schemes"]
	path = etc/iterm/iTerm2-Color-Schemes
	url = git@github.com:mbadolato/iTerm2-Color-Schemes.git
[submodule "shellscripts/_iterm2/iterm2-zmodem"]
	path = shellscripts/_iterm2/iterm2-zmodem
	url = git@github.com:mmastrac/iterm2-zmodem.git
[submodule "dotfiles/tmux/.tmux.d/plugins/tpm"]
	path = dotfiles/tmux/.tmux.d/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "dotfiles/zsh/.zsh/antigen"]
	path = dotfiles/zsh/.zsh/antigen
	url = git@github.com:zsh-users/antigen.git
[submodule "dotfiles/zsh/.zprezto"]
	path = dotfiles/zsh/.zprezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "dotfiles/zsh/.zsh/.zim"]
	path = dotfiles/zsh/.zsh/.zim
	url = git@github.com:Eriner/zim.git
