*[! -~]*
*.log
*.elc
*_flymake.el
Gemfile.lock
dotfiles/atom/.atom/.apm/
dotfiles/atom/.atom/.node-gyp/
dotfiles/atom/.atom/compile-cache/
dotfiles/atom/.atom/npm-debug.log
dotfiles/atom/.atom/packages/
dotfiles/atom/.atom/projects.cson
dotfiles/atom/.atom/storage/
dotfiles/bundler/.bundle/
dotfiles/emacs/.emacs.d/conf/*_local_*.el
dotfiles/emacs/.emacs.d/data/
dotfiles/emacs/.emacs.d/elpa/
dotfiles/screen/.screen/exchange
dotfiles/screen/.screen/*.local
dotfiles/subversion/.subversion/README.txt
dotfiles/subversion/.subversion/auth/
dotfiles/vim/.vim/.netrwhist
dotfiles/vim/.vim/bundle
dotfiles/vimperator/.vimperator/conf/office.*
dotfiles/vimperator/.vimperator/info/
dotfiles/vscode/User/workspaceStorage/
dotfiles/w3m/.w3m/cookie
dotfiles/w3m/.w3m/history
dotfiles/weechat/.weechat/logs/
dotfiles/xdg/.config/Affinic Debugger.ini
dotfiles/xdg/.config/configstore/
dotfiles/xdg/.config/gcloud/
dotfiles/xdg/.config/gtk-2.0/
dotfiles/xdg/.config/menus/
dotfiles/xdg/.config/hub
dotfiles/xdg/.config/stetic/
dotfiles/xdg/.config/vim/
dotfiles/xdg/.config/xbuild/
dotfiles/zsh/.zsh/.chpwd-recent-dirs
dotfiles/zsh/.zsh/.zcompcache/
dotfiles/zsh/.zsh/.zcompdump*
dotfiles/zsh/.zsh/cdd_pwd_list*
dotfiles/zsh/.zsh/zplug_repos/
dotfiles/zsh/.zsh/*local
etc/node_modules/
shellscripts/.*
shellscripts/local
shellscripts/php/_phpmd_rule
