[submodule "dotfiles/vimperator/.vimperator/_plugin/vimpr"]
	path = dotfiles/vimperator/.vimperator/_plugin/vimpr
	url = https://github.com/vimpr/vimperator-plugins.git
[submodule "dotfiles/emacs/.emacs.d/elisp/geben"]
	path = dotfiles/emacs/.emacs.d/elisp/geben
	url = https://github.com/blipvert/geben-svn.git
[submodule "dotfiles/vim/.vim/bundle/vundle"]
	path = dotfiles/vim/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
