[user]
	name = Mitsuhiro Tanda
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	#autocrlf = input
	editor = vim
	pager = "LC_ALL=ja_JP.UTF-8 lv -c"
	preloadindex = true
[push]
	#default = tracking
[rebase]
	stat = true
	autosquash = true
[color]
	#ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[alias]
	st = status --short --branch
	up = pull --rebase
	ci = commit -a
	co = checkout
	diffw = diff --color-words
	diffn = diff --no-ext-diff
	cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
	graph = log --graph --decorate --oneline
	fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
	pull-dry-run = !"git fetch origin; B=$(git rev-parse --abbrev-ref HEAD); git diff --stat --summary ${B}..origin/${B}"
	current-branch = rev-parse --abbrev-ref HEAD
[diff]
	external = git-diff-wrapper
	tool = vdwrap
	algorithm = patience
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[credential]
	helper = cache --timeout=3600
[include]
	path = .gitconfig.local
[difftool "vdwrap"]
	cmd = /Users/mitsuhiro.tanda/bin/git/vdwrap $LOCAL $REMOTE
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "git@github.com:"]
	pushinsteadof = "https://github.com/"
	pushinsteadof = "git://github.com/"
[branch "master"]
	rebase = true
[pull]
  #rebase = true
