[user]
	name = Mitsuhiro Tanda
[core]
	excludesfile = ~/.gitignore_global
	#autocrlf = input
	editor = vim
	pager = "LC_ALL=ja_JP.UTF-8 lv -c"
[push]
	#default = tracking
[rebase]
	stat = true
	autosquash = true
[color]
	#ui = auto
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
[alias]
	st = status
	up = pull --rebase
	ci = commit -a
	co = checkout
	diffw = diff --color-words
	diffn = diff --no-ext-diff
	cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
[diff]
	external = git-diff-wrapper
	tool = vdwrap
	algorithm = patience
[pager]
	diff =
[credential]
	helper = cache --timeout=3600
[include]
	path = .gitconfig.local
[difftool "vdwrap"]
	cmd = /Users/mitsuhiro.tanda/bin/git/vdwrap $LOCAL $REMOTE
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "git@github.com:"]
	pushinsteadof = "https://github.com/"
	pushinsteadof = "git://github.com/"
