[user]
  name = Mitsuhiro Tanda
[core]
	excludesfile = /Users/mitsuhiro.tanda/.gitignore_global
  #autocrlf = input
  editor = vim
  pager = "lv -c"
[push]
  #default = tracking
[color]
  #ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  st = status
  up = pull --rebase
  ci = commit -a
  co = checkout
  diffw = diff --color-words
  diffn = diff --no-ext-diff
[diff]
  #external = git-diff-wrapper
[pager]
  diff =
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
